.join-form__title {
    width: 100%;
  }
  
.join-form__title h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
    padding: 0 20px;
  }
  
#join-form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 40px;
  }
  
#join-form span {
    font-size: 24px;
    font-weight: 500;
    padding-top: 45px;
    padding-bottom: 10px;
  }
  
#join-form input {
    margin: 15px 0;
    font-size: 22px;
    border: none;
  }

.id_box, .phone_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input_1 {
    width: 60%;
}

.submit_1 {
    width: 39%;
}

.submit_2 {
    width: 35%;
}
  
#join-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  
#join-form input::placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }
  
#join-form input[type="submit"] {
    border-radius: 10px;
    background-color: #172853;
    color: #fff;
    height: 70px;
    cursor: pointer;
  }
  
#join-form label {
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
  }
  
.nextprev_box {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.prev_box {
    float: left;
}

.prevbtn {
    border-radius: 10px;
    background-color: #55576f;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    width: 100px;
    height: 45px;
  }

.nextbtn {
    border-radius: 10px;
    background-color: #55576f;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    width: 100px;
    height: 45px;
  }

  @media screen and (max-width: 1200px) {
    .G-COACH__title,
    .main-screen {
      width: 60%;
    }
  
    .join-form__title h1 {
      margin-bottom: 10px;
      font-size: 26px;
    }
  
    #join-form {
      margin-bottom: 20px;
    }
  
    #join-form span {
      font-size: 22px;
      padding-top: 35px;
    }
  
    #join-form input {
      font-size: 22px;
    }
  
    #join-form label {
      font-size: 16px;
      font-weight: bold;
    }
  
    #join-form input[type="submit"] {
      height: 60px;
    }
  
    #join-form a {
      font-size: 20px;
    }
    
  }
  
  @media screen and (max-width: 900px) {
    .G-COACH__title,
    .main-screen {
      width: 70%;
    }
    
    .join-form__title h1 {
      margin-bottom: 10px;
      font-size: 24px;
    }
  
    #join-form {
      margin-bottom: 20px;
    }
  
    #join-form span {
      font-size: 20px;
      padding-top: 35px;
    }
  
    #join-form input {
      font-size: 20px;
    }
  
    #join-form label {
      font-size: 14px;
      font-weight: bold;
    }
  
    #join-form input[type="submit"] {
      height: 55px;
    }
  
    #join-form a {
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .G-COACH__title,
    .main-screen {
      width: 80%;
    }
  
    .join-form__title h1 {
      margin-bottom: 10px;
      font-size: 22px;
    }
  
    #join-form {
      margin-bottom: 20px;
    }
  
    #join-form span {
      font-size: 18px;
      padding-top: 35px;
      padding-bottom: 5px;
    }
  
    #join-form input {
      font-size: 18px;
    }
  
    #join-form label {
      font-size: 14px;
      font-weight: bold;
    }
  
    #join-form input[type="submit"] {
      height: 40px;
      font-size: 12px;
    }
  
    #join-form a {
      font-size: 16px;
    }

    .input_1 {
      width: 70%;
    }
  
    .submit_1 {
      width: 29%;
    }

    .prevbtn {
      font-size: 15px;
      width: 80px;
      height: 35px;
    }
  
  .nextbtn {
      font-size: 15px;
      width: 80px;
      height: 35px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .G-COACH__title,
    .main-screen {
      width: 85%;
    }
  
    .join-form__title h1 {
      margin-bottom: 5px;
      font-size: 20px;
    }
  
    #join-form {
      margin-bottom: 10px;
    }
  
    #join-form span {
      font-size: 16px;
      padding-top: 25px;
    }
  
    #join-form input {
      font-size: 15px;
    }
  
    #join-form label {
      font-size: 12px;
      font-weight: bold;
    }
  
    #join-form input[type="submit"] {
      height: 40px;
      font-size: 12px;
    }
  
    #join-form a {
      font-size: 16px;
    }

    .input_1 {
      width: 70%;
    }
  
    .submit_1 {
      width: 29%;
    }
  }
  
  @media screen and (min-height: 900px) {
    .G-COACH__title,
    .main-screen {
      width: 60%;
    }
  
    .G-COACH__title img {
      padding: 40px 0;
    }
  
    .join-form__title h1 {
      margin-bottom: 60px;
      font-size: 40px;
    }
  
    #join-form {
      margin-bottom: 60px;
    }
  
    #join-form span {
      font-size: 30px;
      padding-top: 40px;
    }
  
    #join-form input {
      font-size: 30px;
    }
  
    #join-form label {
      margin: 40px 0;
      font-size: 22px;
      font-weight: bold;
    }
  
    #join-form input[type="submit"] {
      margin: 20px 0;
      height: 80px;
    }
  
    #join-form a {
      margin: 20px 0;
      font-size: 30px;
    }
  }

  @media screen and (max-width: 320px) {
    #join-form input[type="submit"] {
      height: 36px;
      font-size: 10px;
    }
  
    #join-form a {
      font-size: 12px;
    }

    .input_1 {
      width: 70%;
    }
  
    .submit_1 {
      width: 29%;
    }
  }