.main-screen__container {
    margin-top: 16px;
}

.main-screen__header {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.main-screen__header span {
    font-size: 18px;
    color: #181044;
}

.main-screen__header input {
    background-color: #55576f;
    color: #fff;
    border-radius: 5px;
    border: none;
    width: 65px;
    height: 25px;
    cursor: pointer;
}
.main-screen__content-column {
    cursor: pointer;
}

.main-screen__content-column:last-child{
    margin-left: 20px;
}

.main-screen__content {
    display: flex;
    justify-content: flex-start;
}

.main-screen__thumbnail {
    position: relative;
}

.main-screen__thumbnail img {
    height: 120px;
}

.main-screen__content-title {
    font-size: 18px;
    color: #181044;
    padding-bottom: 4px;
}

.main-screen__content-text {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 2px;
}

.main-screen__content-hashtag {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 600px) {
    .main-screen__thumbnail img {
        width: 140px;
        height: 90px;
    }
}

@media screen and (max-width: 400px) {
    .main-screen__content-column:last-child{
        margin-left: 10px;
    }

    .main-screen__header span {
        font-size: 17px;
        color: #181044;
    }

    .main-screen__content-title {
        font-size: 15px;
        color: #181044;
        padding-bottom: 4px;
    }
    
    .main-screen__content-text {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.4);
        padding-bottom: 2px;
    }
    
    .main-screen__content-hashtag {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.4);
    }
}