.navbar {
    background-color: #172853;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 48px;
}

.nav__ul {
    display: flex;
    justify-content: space-between;
    padding: 0px 28px;
}

.nav__li {
    color: #ffffff;
    position: relative;
}


